body {
  background-color: rgb(151, 196, 137);
}
.name {
 margin-top: 10px;
 text-align: center;
}
img {
  height: 300px;
  width: auto;
  border: 2px solid white;
  border-radius: 50%;
}
.col-8 {
  border: 2px solid white;
  background-color: white;
  border-radius: 25px;
  margin-left: 70px;
}
.description {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: grey;
}
